:root{
    --bright-red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

.main-sec{
    margin-bottom: 100px;
}
.hero{
    display: flex;
    align-items: center;
    height: 600px;
}

.description{
    width: 50%; 
}

.description h1{
    color: var(--Dark-Blue);
    font-size: 3rem;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 20px;
}
.description p{
    color: var(--Dark-Grayish-Blue);
    font-weight: 500;
    margin-bottom: 20px;
    padding-right: 100px;
}
.description .btn a{
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

.hamburger{
    color: #000;
    display: none;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.intro img{
    width: 100%;
}

/* Manage section */

.manage{
   display: flex;
}

.main-left{
    width: 50%;
    padding-right: 150px;
}

.main-left h2{
    color: var(--Dark-Blue);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}
.main-left, .main-right-txt p{
    color: var(--Dark-Grayish-Blue);
    font-weight: 500;
}

.main-right{
    width: 50%;
}
.main-right h3{
    color: var(--Dark-Blue);
}
.content{
    margin-bottom: 30px;
}

.main-right-sec{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-right-txt{
    display: flex;
    padding-left: 5.2rem;
}
.feature-title{
    align-self: center;
}

/* Testimonial Section */

.text h2{
    text-align: center;
    color: var(--Dark-Blue);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 60px;
}
.testimonial-box{
    position: relative;
    max-width: 600px;
    min-height: 240px;
    z-index: 1;
    margin: 2.5rem auto 0 auto;
}
.testimonial-box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--Vary-Light-Gray);
    z-index: -1;
    border-radius: 10px;
}
.testimonial-img{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5rem;
    height: 4.5rem;
}
.testimonial-box h3{
    color: var(--Dark-Blue);
    padding-top: 5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.testimonial-box p{
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}
