:root{
    --bright-red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}
/* Nav-Bar Section */
header{
    width: 100%;
    padding: 10px 0;
}
header .max{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: var(--Dark-Blue);
    font-weight: 600;   
    margin: 0 15px;
}
.openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
.closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.logo-img{
    padding-top: 15px;
}